

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// @font-face
// {
//     font-family: 'FontAwesome';
//     font-style: normal;
//     font-weight: normal;
//     src: url('/fonts/fontawesome-webfont.eot?#iefix&v=4.6.1') format('embedded-opentype'),url('/fonts/fontawesome-webfont.woff2?v=4.6.1') format('woff2'),url('/fonts/fontawesome-webfont.woff?v=4.6.1') format('woff'),url('/fonts/fontawesome-webfont.ttf?v=4.6.1') format('truetype'),url('/fonts/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular') format('svg');
//     src: url('/fonts/fontawesome-webfont.eot?v=4.6.1');
// }

table{
    text-align: center;
    td{
        img{
            width: 150px;
        }
    }
}
.card{
    padding: 10px;
}
.icone-select {
    font-family: 'Lato', 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
    font-weight: 900;
  }